@using GEARS.Models
@model FullModel
@{
    ViewBag.Title = "Hello There";
}

<h2>@ViewBag.Title</h2><br />
<div class="page-container">
    <div class="left-container">
        <div class="query-container page">
            <h2>Query</h2>
            @Html.Partial("_QueryPartial", Model.QueryPageModel)
        </div>
        <div class="emails-container page">
            <h2>Data</h2>
            <div class="emails-partial"></div>
        </div>
    </div>
    <div class="preview-container page">
        hi
    </div>
</div>